.popup {
  position: fixed;
  height:auto;
  width: 18vw;
  top: 12.5vw;
  left: 35vw;
  z-index: 2;
  font-family: "Tahoma", "Georgia", "Arial";
  border: solid;
  background-color:#c0c6d0;
  color:#17255A;
}

.popup h4 {
  font-size: 1.1vw;
  font-weight: bold;
  line-height: 1.3vw;
  margin: 0.3vw;
  padding-bottom: 0.3vw;
}

.popup p {
  font-size: 0.9vw;
  line-height: 1.1vw;
  margin: 0.3vw;
}

.popup li {
  font-size: 0.9vw;
  line-height: 1.1vw;
  margin: 0.3vw;
  margin-left: 0.9vw;
  text-indent: -0.6vw;
  list-style-type: disc;
  list-style-position: inside; 
}

.popup a {
  display: inline-block;
  font-size: 0.9vw;
  font-weight: bold;
  line-height: 1.3vw;
  margin: 0.3vw;
  color: #17255a;
}
 
.popup-visible {
    display: block;
}

.popup-hidden {
    display: none;
}

.popup button {
  position: relative;
  width: 100%;
  bottom: 0;
  font-size: 1vw;
  text-align: center;
  margin-top: 0.7vw;
  border: none;
  padding: 0.625vw 0.83vw;
  background-color: #17255A;
  color: #c0c6d0;
  cursor: pointer;
  transition-duration: 0.4s;
}

.popup button:hover {
  background-color: #003399; 
}

.popup a:hover, a:active {
  background-color: #17255a;
  color: #c0c6d0;  
}

#splash-screen {
  width: 50vw;
  top: 10vw;
  left: 25vw;
  font-family: "Georgia", "Arial", "sans-serif";
  border: solid;
  background-color:  #fcf7f8;
  color: black;
}

#splash-screen h4 {
  font-size: 1.65vw;
  font-weight: bold;
  text-align: center;
  line-height: 1.95vw;
  margin: 0.45vw;
  padding-bottom: 0.45vw;
}
  
@media screen and (max-width: 780px) {
  .popup {
    height: auto;
    width: 44.55vw;
    top: 25vh;
    left: 25vw;
  }
  
  .popup h4 {
    font-size: 2.7225vw;
    line-height: 3.2175vw;
    margin: 0.7425vw;
    padding-bottom: 0.7425vw;
  }
  
  .popup p {
    font-size: 2.2275vw;
    line-height: 2.7225vw;
    margin: 0.7425vw;
  }

  .popup li {
    font-size: 2.2275vw;
    line-height: 2.7225vw;
    margin: 0.7425vw;
    margin-left: 2.2275vw;
    text-indent: -1.485vw;
  }

  .popup a {
    margin: 0.7425vw;
    font-size: 2.2275vw;
    line-height: 3.2175vw;
  }

  .popup button {
    font-size: 2.475vw;
    padding: 1.5469vw 2.0543vw;
    margin-top: 1.7325vw;         
  }

  #splash-screen {
    width: 90vw;
    top: 15vw;
    left: 5vw;
  }

  #splash-screen h4 {
    font-size: 4.084vw;
    line-height: 4.826vw;
    margin: 1.114vw;
    padding-bottom: 1.114vw;
  }
      
}

