@import "./meyer-reset.css";


/* General Setup */

* {  
    font-family: "Tahoma";
    font-size: 16px;
    /* width: auto; */
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
}


header, h1, footer, main, h2, h3, p, ul, a, article, div, section, form {
    font-family: "Tahoma";
    /* width: auto; */
    margin-right: auto;
    margin-left: auto;
}

/* For all boxes */

.box {
    background-color: #fcf7f8;
}

.box path,
.box rect {
    fill:#fcf7f8;
    stroke: #000000;
    stroke-width: 2;
}

.box g {
    transform: translate(5px, 5px);
}

.box text {
    fill: #17255a;
}

/* For specific box types */

.planBox {
    width: 130px;
    height: 88px;
}

.doubleBox {
    width: 130px;
    height: 146px;
}

.doubleBox path:first-child {
    fill: #fcf7f8;
}

.doubleBox path:nth-child(3),
.toolsBox path {
    fill: #00e6e6;    
}

.toolsBox {
    width: 130px;
    height: 88px;
}

.activityBox {
    width: 130px;
    height: 70px;
}

/* Tablet */
@media screen and (min-width: 768px) {



}

/* Desktop */
@media screen and (min-width: 1200px) {



}