@import "./meyer-reset.css";


/* General Setup */

* {  
    font-family: "Tahoma";
    font-size: 16px;
    /* width: auto;  NOTE! cannot use width auto here, oterwise SVG rectangles do not work*/
    box-sizing: border-box;
    margin-right: 0;
    margin-left: 0;
}


header, h1, footer, main, h2, h3, p, ul, a, article, div, section, form {
    font-family: "Tahoma";
    /* width: auto;  NOTE! cannot use width auto here, oterwise SVG rectangles do not work */
    margin-right: 0;
    margin-left: 0;
}

/* For all boxes */

svg {
    background-color: #fcf7f8;
    background-color: lightblue;
    /* background-color: rgba(255, 255, 255, 0); */
}

svg path,
svg rect {
    fill:#fcf7f8;
    stroke: #000000;
    stroke-width: 2;
}

svg g {
    transform: scale(1.0) translate(10px, 10px);
}

#arrow-graphic g {
    transform: translate(0,0);
}

svg text,
svg tspan {
    font-size: 16px;
    fill: #17255a;
    /* fill: magenta;  used to test if targeting is good*/
}

/* For specific box types */

.box {
    fill: #fcf7f8;
}

.tools-box {
    fill: #00e6e6;    
}


/* Extra shapes */

#brace-graphic path {
    fill: none;
}

/* End of graphic elements */

h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    text-align: center;
}

/* Top-level grid */

main {
    display: grid;
    grid-template-columns: 8vw 8vw 40vw 30vw 8vw;
    grid-template-rows: auto;
    /* justify-items: center; */
}

/* Unusually for CSS, I am going to use indenting here, for elements of grids,
   as I have several nested gids and this will make thing clearer. */

    /* Elements of the top-level grid (sections) */

    /* for all sections */

    section {
        border-style: solid;
        border-color: black;
        border-width: 1px;
        justify-content: space-around;
    }

    /* for the section headings */

    h2:first-child {
        width: 100%;
        border-bottom-style: solid;
        border-bottom-color: black;
        border-bottom-width: 1px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    /* for individual elements (each of which has its own grid) */

    section:nth-child(1) {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30px 100px auto;
        justify-items: center;
        align-items: start;
    }

    section:nth-child(2) {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30px 100px 200px 300px auto;
        justify-items: center;
        align-items: start;
    }

    section:nth-child(3) {
        display: grid;
        /* grid-template-columns: calc( ( 100% - 8vw ) / 2 ) 8vw  calc( ( 100% - 8vw ) / 2 ); */
        grid-template-columns: 1fr 8vw 1fr;
        grid-template-rows: 30px 110px 16px auto;
        justify-items: center;
        align-items: start;
    }

        /* second-level grid (planning section) */

        section:nth-child(3) > h2:nth-child(1) {
            grid-row: 1;
            grid-column: 1 / span 3;
        }

        section:nth-child(3) > p:nth-child(2) {
            grid-row: 2;
            grid-column: 1 / span 1;
        }

        section:nth-child(3) > svg:nth-child(3) {
            grid-row: 2;
            grid-column: 2 / span 1;
        }

        /* Arrow */
        section:nth-child(3) > svg:nth-child(4) {
            grid-row: 3;
            grid-column: 2 / span 1;
            align-self: end;
            background-color: rgba(255, 255, 255, 0);
        }

        section:nth-child(3) > div:nth-child(5) {
            /* styling as grid item */
            grid-column: 1 / span 3;
            grid-row: 4;
            justify-self: stretch;
            border-style: solid;
            border-color: black;
            border-width: 1px;
            margin-right: 1vw;
            margin-bottom: 10px;
            margin-left: 1vw;
            /* styling as container of next level grid */
            display: grid;
            grid-template-columns: repeat(8, 4vw );
            grid-template-rows: auto auto auto auto auto auto;
            justify-items: stretch;
            justify-content: center;
        }

            /* third-level grid (planning box) */

            section:nth-child(3) > div:nth-child(5) > svg:nth-child(1) {
                grid-row: 1;
                grid-column: 1 / span 2;
            }

            section:nth-child(3) > div:nth-child(5) > svg:nth-child(2) {
                grid-row: 1;
                grid-column: 3 / span 2;
            }

            section:nth-child(3) > div:nth-child(5) > svg:nth-child(3) {
                grid-row: 1;
                grid-column: 5 / span 2;
            }

            section:nth-child(3) > div:nth-child(5) > svg:nth-child(4) {
                grid-row: 1;
                grid-column: 7 / span 2;
            }

            section:nth-child(3) > div:nth-child(5) > svg:nth-child(5) {
                grid-row: 2;
                grid-column: 2 / span 4;
            }

            section:nth-child(3) > div:nth-child(5) > svg:nth-child(6) {
                grid-row: 3;
                grid-column: 2 / span 2;
            }

            section:nth-child(3) > div:nth-child(5) > svg:nth-child(7) {
                grid-row: 3;
                grid-column: 4 / span 2;
            }

            section:nth-child(3) > div:nth-child(5) > svg:nth-child(8) {
                grid-row: 3;
                grid-column: 6 / span 2;
            }

            section:nth-child(3) > div:nth-child(5) > svg:nth-child(9) {
                grid-row: 4;
                grid-column: 2 / span 2;
            }

            section:nth-child(3) > div:nth-child(5) > svg:nth-child(10) {
                grid-row: 4;
                grid-column: 4 / span 2;
            }

            section:nth-child(3) > div:nth-child(5) > svg:nth-child(11) {
                grid-row: 4;
                grid-column: 6 / span 2;
            }

            section:nth-child(3) > div:nth-child(5) > svg:nth-child(12) {
                grid-row: 5;
                grid-column: 4 / span 2;
            }

            section:nth-child(3) > div:nth-child(5) > svg:nth-child(13) {
                grid-row: 6;
                grid-column: 2 / span 2;
            }

            section:nth-child(3) > div:nth-child(5) > svg:nth-child(14) {
                grid-row: 6;
                grid-column: 6 / span 2;
            }
            
            /* End third-level grid (planning box) */

        /* End second-level grid (planning section) */

        /* Second-level grid (execution section) */

        section:nth-child(4) {
            display: grid;
            /* grid-template-columns: calc( ( 100% - 8vw ) / 2 ) 8vw  calc( ( 100% - 8vw ) / 2 ); */
            grid-template-columns: 1fr 8vw 1fr;
            grid-template-rows: 30px 100px 100px auto;
            justify-items: center;
        }

        section:nth-child(4) > h2:nth-child(1) {
            grid-row: 1;
            grid-column: 1 / span 3;
        }

        section:nth-child(4) > p:nth-child(2) {
            grid-row: 2;
            grid-column: 1 / span 3;
        }

        section:nth-child(4) > svg:nth-child(3) {
            grid-row: 3;
            grid-column: 2;
        }

        section:nth-child(4) > div:nth-child(4) {
            grid-row: 4;
            grid-column: 1 / span 3;
            justify-self: stretch;
            border-style: solid;
            border-color: black;
            border-width: 1px;
            border-radius: 30px;
            margin-top: 10px;
            margin-right: 1vw;
            margin-bottom: 10px;
            margin-left: 1vw;
            display: grid;
            grid-template-columns: repeat(3, 8vw);
            grid-template-rows: auto auto auto auto auto auto auto;
            justify-items: stretch;
            justify-content: space-around;
        }

            /* Third-level grid (execution box) */

            section:nth-child(4) > div:nth-child(4) > h3:nth-child(1) {
                grid-row: 1;
                grid-column: 1 / span 3;
            }

            section:nth-child(4) > div:nth-child(4) > svg:nth-child(2) {
                grid-row: 2;
                grid-column: 1;
            }

            section:nth-child(4) > div:nth-child(4) > svg:nth-child(3) {
                grid-row: 2;
                grid-column: 3;
            }

            section:nth-child(4) > div:nth-child(4) > svg:nth-child(4) {
                grid-row: 3;
                grid-column: 2;
            }

            section:nth-child(4) > div:nth-child(4) > svg:nth-child(5) {
                grid-row: 4;
                grid-column: 1;
            }

            section:nth-child(4) > div:nth-child(4) > svg:nth-child(6) {
                grid-row: 4;
                grid-column: 2;
            }

            section:nth-child(4) > div:nth-child(4) > svg:nth-child(7) {
                grid-row: 4;
                grid-column: 3;
            }

            section:nth-child(4) > div:nth-child(4) > svg:nth-child(8) {
                grid-row: 5;
                grid-column: 1;
            }

            section:nth-child(4) > div:nth-child(4) > svg:nth-child(9) {
                grid-row: 5;
                grid-column: 2;
            }

            section:nth-child(4) > div:nth-child(4) > svg:nth-child(10) {
                grid-row: 6;
                grid-column: 2;
            }

            section:nth-child(4) > div:nth-child(4) > svg:nth-child(11) {
                grid-row: 7;
                grid-column: 3;
            }

            /* End third-level grid (execution box) */



    section:nth-child(5) {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30px 100px 100px 100px 100px 100px auto;
        justify-items: center;
    }


/* Tablet */
@media screen and (min-width: 768px) {



}

/* Desktop */
@media screen and (min-width: 1200px) {



}